* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#password {
    width: 400px;
    padding: 20px;
    font-size: 20px;
    font-family: cursive;
    background-color: antiquewhite;
    border: 4px solid black;
    border-radius: 20px;
}
#password:focus {
    outline: none;
}